@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #889e86;
}

@font-face {
  font-family: 'Aileron';
  src: url('/src/assets/fonts/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Aileron';
  src: url('/src/assets/fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aileron';
  src: url('/src/assets/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aileron';
  src: url('/src/assets/fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Aileron';
  src: url('/src/assets/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'IvyMode';
  src: url('/src/assets/fonts/IvyMode-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'IvyMode';
  src: url('/src/assets/fonts/IvyMode-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IvyMode';
  src: url('/src/assets/fonts/IvyMode-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

.group:hover .group-hover\:block {
  display: block;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}